h1 {
  margin: 50px;
  justify-content: center;

  display: flex;
}
table {
  display: flex;
  justify-content: center;
}
td {
  width: 150px;
  height: 150px;
  font-size: 20px;
  color: lightcoral;

  border: 2px solid lightblue;
  border-radius: 5px;

  text-align: center;
  margin-top: 50px;
}
